* {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
}

#t {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#g {
    display: block;
}
